input {
    border-style: double;
    /*width: 150px;*/
}

button {
    background-color: darkcyan;
    padding: 20px 25px;
    font-size: 18px;
    color: white;
}

label {
    font-size: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.buttons {
    grid-column: span 2;
    display: flex;
    justify-content: space-around;

    padding-top: 20px;
}


